*.userprefs
*.suo
*.pidb
*.unityproj
Temp
*.cache
*.apk
*.unity3d
obj
bin
Bin
name.txt
result.txt
Library
.svn
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
*-csharp.sln

*.DotSettings
BackgroundWorker.cs
3D/ShurikenMagic/ShurikenMagic.userprefs
Effect/FxMakerPG/Assets/IGSoft_Resources/ToolResources/TempPreviewTexture/
